<section class='race-selection'>
  <div class='race-details'>
    <%= render 'history' %>
  </div>

  <div class='races-panel'>
    <h1>Races</h1>

    <ul class='races-list'>
      <% @races.each do |race| %>
        <%= content_tag :li, class: ['races-list-item', race[:slug]] do %>
          <%= link_to race[:name], race_path(race[:slug]) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
