<section class='race-selection'>
  <div class='race-details'>
    <h2>Human</h2>
    <div class='race-details-picture'>
      <%= image_tag 'races/human.png', size: '400x225' %>
      <img class='race-details-picture-img' src="">
      <a class='race-details-picture-reference' href="http://eyardt.deviantart.com/">eyardt</a>
    </div>
    <p class='race-details-description'>
      In the reckonings of most worlds, humans are the youngest of the common
      races, late to arrive on the world scene and short-lived in comparison
      to dwarves, elves, and dragons. Perhaps it is because of their shorter
      lives that they strive to achieve as much as they can in the years they
      are given. Or mbaybe they feel they have something to prove to the elder
      races, and that's why they build their mighty empeires on the foundation
      of conquest and trade. Whatever drives them, humans are innovators, the
      achievers, and the pioneers of the worlds.
    </p>
  </div>

  <div class='races-panel'>
    <h1>Races</h1>

    <ul class='races-list'>
      <% @races.each do |race| %>
        <%= content_tag :li, race[:name], class: ['races-list-item', race[:identifier]] %>
      <% end %>
    </ul>

    <h3>Choose your variant:</h3>
    <ul class='races-list'>
      <li>All abilities score + 1</li>
      <li>2 abilities score +1, 1 skill proficiency, 1 feat</li>
    </ul>

    <h3>Traits</h3>
    <ul>
      <li>Age: between 15 and 100</li>
      <li>Alignment: Any</li>
      <li>Size: Medium</li>
      <li>Speed: 30 feet.</li>
      <li>Languages: Common, +1 of your choice.</li>
    </ul>
  </div>
</section>



