# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 35e2e6b73ad6277ad0022b28b78da11f82a138b3ddd3fa47009bff9bf49db129df568bb6d0619e702282821bb9fbae0a27f9410000f1b2dd1f0b48b2bd31f8b8

test:
  secret_key_base: c2cb887bfa7246fc27a33327b1c5acced9b26ffb8f7b84f68d3b7ebe6ca5a8c864f642a1793d77d24aa196db081ffeceb07089506edf92607c0590a926ff04c5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
