<div class="character-selected">
  <% if cookies[:race_slug].present? %>
    Your character: Race: <%= race_link %>

    <% if cookies[:race_variant_slug].present? %>
      &nbsp;/&nbsp;
      Race variant: <%= race_variant_link %>
    <% end %>

    <% if cookies[:class_slug].present? %>
      &nbsp;/&nbsp;
      Class: <%= class_link %>
    <% end %>

    <% if cookies[:background_slug].present? %>
      &nbsp;/&nbsp;
      Backgrounds: <%= background_link %>
    <% end %>
  <% end %>
</div>