<div class="character-selected">
  <% if character_sheet["race_slug"].present? %>
    Your character: Race: <%= race_link %>

    <% if character_sheet["race_variant_slug"].present? %>
      &nbsp;/&nbsp;
      Race variant: <%= race_variant_link %>
    <% end %>

    <% if character_sheet["class_slug"].present? %>
      &nbsp;/&nbsp;
      Class: <%= class_link %>
    <% end %>

    <% if character_sheet["background_slug"].present? %>
      &nbsp;/&nbsp;
      Backgrounds: <%= background_link %>
    <% end %>
  <% end %>
</div>
