<nav>
  <ul class="character-menu">
    <li>
      <a href="/races">Races</a>
    </li>
    <li>
      <a href="/classes">Classes</a>
    </li>
    <li>
      <a href="/backgrounds">Background</a>
    </li>
  </ul>
</nav>
