<nav class="site-navigation">
  <ul class="character-menu">
    <li class="races">
      <a href="/races">Races</a>
    </li>
    <li class="classes">
      <a href="/classes">Classes</a>
    </li>
    <li class="background">
      <a href="/backgrounds">Background</a>
    </li>
  </ul>
</nav>